body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serifi;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: .5rem;
}

p {
  color: gray;
}

.changelog {
  margin: 2rem;
  min-width: 600px;
}

.item {
  display: flex;
  align-items: stretch;
}

.content-box {
  border-left: 2px solid black;
  padding: 10px 0 30px 20px;
  position: relative;
}

.content-box::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  top: 12px;
  left: -7px;
  background-color: black;
  border-radius: 50%;
}

.date {
  color: darkgray;
  width: 150px;
  text-align: right;
  padding-right: 20px;
  padding-top: 10px;
}

.submit-btn {
  background-color: black;
  color: white;
  padding: .75rem 1.5rem;
  border-radius: 7.5px;
  border: 0 #000;
}
